<!--suppress XmlUnboundNsPrefix -->
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=0">
    <meta name="description" content="Togashi's Hunter x Hunter Hiatus Chart"/>
    <meta name="keywords" content="hunter x hunter,hiatus,hiatuses,hiato,hiatos,gráfico,chart,togashi"/>
    <meta property="og:url" content="https://hiatus-hiatus.github.io/"/>
    <meta property="og:title" content="HUNTER×HUNTER Hiatus Chart"/>
    <meta property="og:description" content="Togashi's Hunter x Hunter Hiatus Chart"/>
    <meta property="og:image" content="https://hiatus-hiatus.github.io/icon.png"/>
    <meta name="google-site-verification" content="G1lTOd25kSvhh8p4eWnVvr52YbP1HJIYjLGZIORCUCU" />
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet"
          href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.3.0/css/material.min.css"/>
    <title>HUNTER×HUNTER Hiatus Chart</title>

<body>
<div id="app">


    <div class="well container _container">
        <button v-on:click="show_arcs = !show_arcs" class="fab">Arcs</button>

        <h1 class="text-center">HUNTER×HUNTER Hiatus Chart</h1>

        <div id="main-chart" class="row chart notransition">
            <div>
                <div v-for="group in issues_by_year" class="h-row">
                    <div class="chart-year">{{group.year}}</div>
                    <div class="h-col" v-for="issue in group.issues"
                         v-bind:class="[{'false': !issue.released},show_arcs? issue.arc?issue.arc:'hiatus-arc':'']"
                         v-bind:title="'Issue: ' + issue.number">
                    </div>

                </div>
            </div>

        </div>
        <div class="text-center caption">
            <div v-if="!show_arcs">

                <div class="h-col"></div>
                Appears in jump

                <div class="h-col false"></div>
                Hiatus
            </div>
        </div>
        <div v-if="show_arcs" style="width: 500px;margin: 0 auto">
            <div class="caption" v-for="arc in arcs" style="float: left;min-width: 230px">
                <div v-bind:class="['h-col',arc.key]"></div>
                {{arc.name}}
            </div>
        </div>
    </div>
    <div class="well container _container">
        <div>
            <h1 class="text-center">Hiatus Status</h1>

            <div id="status" class="row center-block">

                <div v-if="status.current.hiatusCount>0">
                    <p>Current hiatus:
                        <span v-if="status.current.hiatusCount>0">
                    <strong>{{status.current.hiatusCount}}</strong> issue<span
                                v-if="status.current.hiatusCount>1">s</span>
                (since issue {{status.current.begin.issue}}/{{status.current.begin.year}})
                    </span>
                        <strong v-if="status.current.hiatusCount==0">No hiatus</strong>
                    </p>

                    <div class="bar false" v-bind:style="{width: status.currentWidth}"></div>

                </div>


                <div v-if="status.currentPubStreak.count>0">
                    <p>
                        Current publication streak:
                        <strong>{{status.currentPubStreak.count}}</strong> issue<span
                            v-if="status.currentPubStreak.count>1">s</span>
                        (since issue
                        {{status.currentPubStreak.begin.issue}}/{{status.currentPubStreak.begin.year}})
                    </p>

                    <div class="bar blue" v-bind:style="{width: status.currentPubStreakWidth}"></div>

                </div>
                <p>Longest hiatus: <strong>{{status.longest.hiatusCount}} </strong>issues
                    (from issue {{status.longest.begin.issue}}/{{status.longest.begin.year}} to issue
                    {{status.longest.end.issue}}/{{status.longest.end.year}})
                </p>

                <div class="bar" style="width: 100%"></div>

                <p>
                    Longest publication streak: <strong>{{status.pubStreak.count}}</strong> issues
                    (from issue {{status.pubStreak.begin.issue}}/{{status.pubStreak.begin.year}} to issue
                    {{status.pubStreak.end.issue}}/{{status.pubStreak.end.year}})
                </p>

                <div class="bar dark-blue" :style="{width:status.pubStreakWidth}"></div>
            </div>
        </div>
    </div>
    <div class="well container _container">
        <div>
            <h1 class="text-center">Overall Stats</h1>

            <div id="stats" class="row center-block">
                <p><strong>{{status.overall.totalIssues}}</strong> Weekly Shonen Jump issues were released since HUNTER
                    x HUNTER's debut</p>


                <div :style="{width:status.pTotalPresent}" style="float:left">
                    <p><span class="text-info"><strong>{{status.overall.totalPresent}}</strong> ({{(status.overall.totalPresent / status.overall.totalIssues / 0.01).toFixed(0)}}%) </span>total
                        issues HUNTER x HUNTER was present</p>

                    <div class="bar left blue" style="display: inline-block; width:100%"></div>
                </div>
                <div :style="{width:status.pTotalHiatus}" style="float:left">
                    <p><span class="text-danger"><strong>{{status.overall.totalHiatus}}</strong> ({{(status.overall.totalHiatus/status.overall.totalIssues/0.01).toFixed(0)}}%) </span>total
                        issues missed</p>

                    <div class="bar false right" style="display: inline-block;width:100%"></div>
                </div>

            </div>

        </div>
    </div>
    <div class="well container _container">
        <div>
            <h1 class="text-center">Major Hiatuses</h1>

            <div id="breaks" class="row center-block">
                <div class="col-xs-10 col-xs-offset-1">

                    <table class="table table-condensed table-hover">
                        <thead>
                        <tr>
                            <th>Start</th>
                            <th>End</th>
                            <th class="col-xs-8">Number of issues</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr v-for="hiatus in status.major_hiatuses">
                            <td>{{hiatus.start}}</td>
                            <td>{{hiatus.end}}</td>
                            <td>
                                <div class="table-bar"
                                     :style="{width:hiatus.viewProportion}">
                                    {{hiatus.total}}
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>

            </div>

        </div>
    </div>
    <div class="well container _container">
        <div class="row">
            <h3 class="text-center">Chapters released by year</h3>
        </div>
        <div class="row">
            <div class="col-xs-10 col-xs-offset-1">
                <div class="col-md-12">
                    <div class="chart-responsive">
                        <canvas height="250" ref="yearlyCanvas"></canvas>
                    </div>
                </div>
            </div>

        </div>

    </div>
    <div class="well container _container">
        <div class="row">
            <h3 class="text-center">Hiatus / year</h3>
        </div>
        <div class="row">
            <div class="col-xs-10 col-xs-offset-1">
                <table class="table table-condensed table-hover">
                    <thead>
                    <tr>
                        <th>Year</th>
                        <th>Issues Missed</th>
                        <th>% Hiatus</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="info in hiatuses_by_year">
                        <td>{{info.year}}</td>
                        <td>{{info.total_hiatus}}/{{info.total_issues}}</td>
                        <td v-bind:class="info.percent >50? 'text-danger':''">
                            {{info.percent}}%
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

        </div>

    </div>
    <div class="well container _container" id="disqus_thread"></div>
    <script>
        var disqus_config = function () {
            this.page.url = "https://hiatus-hiatus.rhcloud.com/";
        };
        (function () {  // DON'T EDIT BELOW THIS LINE
            var d = document, s = d.createElement('script');

            s.src = '//hiatus-hiatus.disqus.com/embed.js';

            s.setAttribute('data-timestamp', +new Date());
            (d.head || d.body).appendChild(s);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments
        powered by Disqus.</a></noscript>

    <div class="footer">
        <p>source (up to 2014): <a target="_blank" href="http://hunter.noihjp.com/rest/">http://hunter.noihjp.com/</a>
        </p>
    </div>
</div>


<script src="https://unpkg.com/vue@2.4.2/dist/vue.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/lodash@4.17.4/lodash.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.16.2/axios.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js"></script>
<script src="app.js"></script>

<script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function () {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date();
        a = s.createElement(o),
            m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-63786226-1', 'auto');
    ga('send', 'pageview');

</script>
</body>
<!--made by http://www.reddit.com/user/rentzhx3-->


</html>
