body {
    overflow-y: scroll;
    padding-top: 15px;
}

.footer {
    width: 100%;
    text-align: center;
    bottom: 0;
}

.bar {
    border-radius: 4px;
    padding-top: 40px;
    background-color: #CC0000;
    margin-bottom: 10px;
}

.bar.left {
    float: left;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.bar.right {
    float: left;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.bar.blue {
    background-color: #33B5E5;
}

.bar.dark-blue {
    background-color: #0099CC;
}

._container {
    transition: 1.5s ease-in-out all;
    min-width: 1250px;
    overflow: hidden;
}

.h-row {
    margin-bottom: 1px;
    width: 100%;
    height: 18px;
    max-height: 18px;
    cursor: default;
}

.h-col {
    -webkit-transition: background-color 1s;
    -moz-transition: background-color 1s;
    -o-transition: background-color 1s;
    transition: background-color 1s;
    height: 16px;
    width: 21px;
    display: inline-block;
    margin-left: 2px;
    background-color: #33B5E5;
}

.chart-year {
    padding: 0;
    display: inline-block;
    vertical-align: top;
    margin-right: 4px;
    font-size: 12px;
    width: 25px;
}

.h-row:hover .h-col {
    background-color: #0099CC;
}

.h-row:hover .false {
    background-color: #CC0000;
}

.false {
    background-color: #FF4444;
}

.card-content {
    vertical-align: middle;
}

.chart {
    margin-left: 15px;
    margin-bottom: 30px;
}

.inner {
    max-height: 0;

}

.inner .fab {
    display: none;
}

.defrag {
    background-color: #9C27B0;
    margin-right: 4px;
}

.inner div {
    visibility: hidden;
}

#status {
    margin-bottom: 40px;
}

.table th, table td {
    cursor: default;
    text-align: center;
}

.table-bar {
    background-color: #FF4444 !important;
    color: white;
}

.fab {
    display: block;
    float: right;
    top: 10px;
    right: 10px;

    transition: 400ms;
    border-radius: 50%;
    padding: 20px;
    border: none;
    background-color: #3F51B5;
    color: white;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 5px 0 rgba(0, 0, 0, .23);

}

.fab:hover {
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, .19), 0 6px 3px 0 rgba(0, 0, 0, .23);
}

.fab:active {
    background-color: #4b62dd;

}

.notransition .h-row:hover .h-col {
    transition: none;
}

.notransition .h-row .h-col {
    transition: none;
}

.h-row:hover .false {
    background-color: #CC0000;
}

.bar-info {
    max-width: 50%;
    display: inline-block;
}

.buttons {
    display: flex;
}

a.chart-button {
    background-color: #3F51B5;
    color: white;
    margin-right: 8px;
    text-decoration: none;
    border: solid 1px;
    padding: 20px 0px !important;
    border-radius: 4px;
    width: 180px;
    text-align: center;
}

a.chart-button:hover {
    border-color: #303d81;
    background-color: #303d81;
    color: white;
}