
.app {
  --red-500: #F44336;
  --indigo-500: #3F51B5;
  --gray-300: #E0E0E0;
  --teal-500: #3F51B5;
  --amber-500: #FFC107;
  --green-500: #4CAF50;
  --purple-500: #9C27B0;
  --blue-gray-500: #607D8B;
  --lime-500: #CDDC39;
  --pink-500: #E91E63;
  --deep-orange-500: #FF5722;

  --text-color: #000;
  --body-bg-color: #eeeeee;
  --hiatus-color: var(--red-500);
  --release-color: #33B5E5;
  --box-shadow-color: rgba(170, 170, 170, 0.67);
  --title-divider-color: #eeeee;
  --icon-color: #ddd;
  --default-issue-color: #E0E0E0;
  --default-issue-color-darken: #c7c7c7;
  --section-bg-color: #fff;

}

