.hiatus-arc {
    background-color: #E0E0E0;
}

.h-row:hover .hiatus-arc {
    background-color: #cacaca !important;
}

.spirit-detective {
    background-color: #3F51B5;
}

.h-row:hover .spirit-detective {
    background-color: #1A237E;
}

.chapter-black {
    background-color: #009688;
}

.h-row:hover .chapter-black {
    background-color: #004D40;
}

.dark-tournament {
    background-color: #FFC107;
}

.h-row:hover .dark-tournament {
    background-color: #FF6F00;
}

.kings {
    background-color: #E91E63;
}

.h-row:hover .kings {
    background-color: #C2185B;
}

/*add a margin to the last row*/
.chart div .h-row:last-child .h-col:nth-child(2) {
    margin-left: 1037px;
}
