
.kings {
    background-color: #E91E63;
}

.h-row:hover .kings {
    background-color: #C2185B;
}

/*add a margin to the last row*/
.chart div .h-row:last-child .h-col:nth-child(2) {
    margin-left: 1037px;
}
