
.indigo-500 {
  background-color: var(--indigo-500);
}

.gray-300 {
  background-color: var(--gray-300);
}

.teal-500 {
  background-color: var(--teal-500);
}

.amber-500 {
  background-color: var(--amber-500);
}

.green-500 {
  background-color: var(--green-500);
}

.purple-500 {
  background-color: var(--purple-500);
}

.blue-gray-500 {
  background-color: var(--blue-gray-500);
}

.red-500 {
  background-color: var(--red-500);
}

.lime-500 {
  background-color: var(--lime-500);
}

.pink-500 {
  background-color: var(--pink-500);
}

.deep-orange-500 {
  background-color: var(--deep-orange-500);
}

