$releaseColor: #33B5E5;
$hiatusColor: #ff4444;
$boxShadowColor: rgba(170, 170, 170, 0.67);
$gray300: #E0E0E0;

.indigo-500 {
  background-color: #3F51B5;
}

.gray-300 {
  background-color: $gray300;
}

.teal-500 {
  background-color: #009688;
}

.amber-500 {
  background-color: #FFC107;
}

.green-500 {
  background-color: #4CAF50;
}

.purple-500 {
  background-color: #9C27B0;
}

.blue-gray-500 {
  background-color: #607D8B;
}

.red-500 {
  background-color: #F44336;
}

.lime-500 {
  background-color: #CDDC39;
}

.pink-500 {
  background-color: #E91E63;
}

.deep-orange-500 {
  background-color: #FF5722;
}

.hiatus {
  background-color: $hiatusColor;
}

.released {
  background-color: $releaseColor;
}