$boxShadowColor: rgba(170, 170, 170, 0.67);

@mixin sm {
  @media (min-width: 576px) {
    @content
  }
}

@mixin smDown {
  @media (max-width: 767px) {
    @content
  }
}

@mixin md {
  @media (min-width: 768px) {
    @content
  }
}

@mixin mdDown {
  @media (max-width: 991px) {
    @content
  }
}

@mixin lg {
  @media (min-width: 992px) {
    @content
  }
}

@mixin lgDown {
  @media (max-width: 1199px) {
    @content
  }
}

@mixin xl {
  @media (min-width: 1200px) {
    @content
  }
}


body {
  background-color: #eeeeee;
  margin: 0;
  justify-content: center;
  display: flex;
}


.app {
  display: flex;
  flex-wrap: nowrap;
  padding-top: 16px;

}

.section {
  padding: 24px;
  background-color: white;
  max-width: 1280px;
  overflow: hidden;
  margin-left: 10px;
  margin-right: 10px;
  flex: 1;
  box-shadow: 2px 2px 2px 2px $boxShadowColor;

  @include lgDown {
    padding: 16px;
  }
}

.section-title {
  font-size: 2.5em;
  text-align: center;
  margin-bottom: 16px;
}

