@import "colors";


@mixin sm {
  @media (min-width: 576px) {
    @content
  }
}

@mixin smDown {
  @media (max-width: 767px) {
    @content
  }
}

@mixin md {
  @media (min-width: 768px) {
    @content
  }
}

@mixin mdDown {
  @media (max-width: 991px) {
    @content
  }
}

@mixin lg {
  @media (min-width: 992px) {
    @content
  }
}

@mixin lgDown {
  @media (max-width: 1199px) {
    @content
  }
}

@mixin xl {
  @media (min-width: 1200px) {
    @content
  }
}


body {
  background-color: #eeeeee;
  margin: 0;
  justify-content: center;
  display: flex;
  padding-bottom: 32px;
}


.app {
  display: flex;
  flex-wrap: nowrap;
  padding-top: 16px;

}

.section {
  padding: 24px;
  background-color: white;
  max-width: 1280px;
  overflow: hidden;

  box-shadow: 2px 2px 2px 2px $boxShadowColor;
  margin-bottom: 32px;
  @include lgDown {
    padding: 16px;
  }
}

.section-title {
  font-size: 1.5em;
  text-align: center;
  margin-bottom: 16px;
}

.main {
  font-size: 2.5em;
}

.button {
  padding: 16px;
  border-radius: 8px;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  box-shadow: 2px 2px #eeeeeeaa;
  border: none;

}


.fab {
  display: block;
  float: right;
  top: 10px;
  right: 10px;
  transition: 400ms opacity;
  border-radius: 50%;
  padding: 20px;
  border: none;
  background-color: #3F51B5;
  color: white;
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 5px 0 rgb(0 0 0 / 23%);
  cursor: pointer;

  &:active {
    opacity: 0.5;
  }
}

a {
  text-decoration: none;
}

footer {
  font-size: 10px;
}

.clickable {
  cursor: pointer;

  &:active {
    .material-icons {

      background-color: #ddd;
      transition: 300ms;
    }
  }
}