.hiatus-arc {
    background-color: #E0E0E0;
}

.h-row:hover .hiatus-arc {
    background-color: #cacaca !important;
}

.hunter-exam {
    background-color: #3F51B5;
}

.h-row:hover .hunter-exam {
    background-color: #1A237E;
}

.zoldyck {
    background-color: #009688;
}

.h-row:hover .zoldyck {
    background-color: #004D40;
}

.heavens-arena {
    background-color: #FFC107;
}

.h-row:hover .heavens-arena {
    background-color: #FF6F00;
}

.yorknew {
    background-color: #4CAF50;
}

.h-row:hover .yorknew {
    background-color: #43A047;
}

.greed-island {
    background-color: #FF5722;
}

.h-row:hover .greed-island {
    background-color: #F4511E;
}

.chimera-ant {
    background-color: #9C27B0;
}

.h-row:hover .chimera-ant {
    background-color: #7B1FA2;
}

.election {
    background-color: #E91E63;
}

.h-row:hover .election {
    background-color: #C2185B;
}

.dc {
    background-color: #607D8B;
}

.h-row:hover .dc {
    background-color: #546E7A;
}

.oneshot {
    background-color: #F44336;
}

.h-row:hover .oneshot {
    background-color: #B71C1C;
}

/*add a margin to the last row*/
.chart div .h-row:last-child .h-col:nth-child(2) {
    margin-left: 255px;
}